.startPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__title{
    color: darkred;
    padding: 14px 0;
  }
  &__subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: darkred;
    font-weight:bold;
  }
}
